.container {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.container>p {
    text-align: center;
}

.calculator {
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 50em;
    overflow: hidden;
}

.calculatorbuttons {
    box-shadow: inset 0px 1px 0px 0px #efdcfb;
    background-color: #af4eff;
    border-radius: 6px;
    border: 1px solid #c584f3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e77dad;
}

.calculator__display {
    background-color: black;
    color: #fff;
    font-size: 5em;
    padding: 0.5em 0.75em;
    text-align: right;
}

.calculator__keys {
    background-color: rgb(141, 126, 126);
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.75em;
}

.calculator__keys>* {
    font-size: 1.75em;
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

.key--operator {
    background-color: #eee;
}

.key--equal {
    background-image: linear-gradient(to bottom, rgb(0, 217, 255), rgb(0, 217, 255));
    grid-column: -2;
    grid-row: 2 / span 4;
}

h1, h2, h3
{
  text-align: center;
  font-family: Georgia, serif;
}
body
{
  font-family: Tahoma, sans-serif;
  text-align: left;
  color: rgb(78, 0, 0);
  background-color: rgb(238, 204, 159);
  margin-left: 150px;
  margin-right: 150px;
}
a
{ 
  text-decoration: none;
  color: maroon;
  font-weight: bold;
 }
a:hover { color: rgb(78, 0, 0); }
p {
  text-align: justify;
}
header
{
  border-bottom: solid rgb(95, 30, 30);
  border-spacing: 20px;
  font-family: Tahoma, sans-serif;
  text-align: center;;
  margin-top: 25px;
  margin-bottom: 50px;
}
main {
  margin-left: 100px;
  margin-right: 100px;
}
footer
{
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-top: 50px;
  padding-bottom: 15px;
}