body
{
  font-family: Tahoma, sans-serif;
  text-align: center;
  color: grey;
  background-color: #00203FFF;
}

a
{ 
  color: brown;
  font-size: 15px;
 }
a:hover { color: darkblue; }

p {
  text-align: justify;
}

header
{
  border: lightseagreen;
  border-style: double;
  font-family: Tahoma, sans-serif;
  text-align: center;
  color: #ADEFD1FF;
  padding: 20px;
}

footer
{
  font-family: Tahoma, sans-serif;
  text-align: center;
  color: lightseagreen;
  padding: 10px;
}