h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-family: Georgia, serif;
}

body {
  font-family: Tahoma, sans-serif;
  text-align: left;
  color: rgb(78, 0, 0);
  background-color: rgb(238, 204, 159);
  margin-left: 150px;
  margin-right: 150px;
}

a {
  text-decoration: none;
  color: maroon;
  font-weight: bold;
}

a:hover {
  color: rgb(78, 0, 0);
}

p {
  text-align: justify;
}

header {
  border-bottom: solid rgb(95, 30, 30);
  border-spacing: 20px;
  font-family: Tahoma, sans-serif;
  text-align: center;
  ;
  margin-top: 25px;
  margin-bottom: 50px;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

footer {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-top: 50px;
  padding-bottom: 15px;
}

ol {
  display: table;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
  text-align: justify;
}

table,
th,
td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even) {
  background-color: pink;
}

tr:nth-child(odd) {
  background-color: #ADEFD1FF;
}

figure {
  text-align: center;
}

* {
  box-sizing: border-box
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.myslides {
  display: none;
  text-align: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

#column {
  float: left;
  width: 16.67%;
  padding: 5px;

}

#image_list {
  list-style-type: none;
  text-align: center;
}

#image_list::after {
  content: "";
  clear: both;
  display: table;
}