h1, h2, h3
{
  text-align: center;
  font-family: Georgia, serif;
}
body
{
  font-family: Tahoma, sans-serif;
  text-align: left;
  color: rgb(78, 0, 0);
  background-color: rgb(238, 204, 159);
  margin-left: 150px;
  margin-right: 150px;
}
a
{ 
  text-decoration: none;
  color: maroon;
  font-weight: bold;
 }
a:hover { color: rgb(78, 0, 0); }
p {
  text-align: justify;
}
header
{
  border-bottom: rgb(95, 30, 30);
  font-family: Tahoma, sans-serif;
  text-align: center;;
  margin-top: 100px;
  margin-bottom: 50px;
}
main {
  margin-left: 100px;
  margin-right: 100px;
}
footer
{
  font-family: Tahoma, sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
ol
{
  display: table;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
  text-align: justify;
}

table, th, td
{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even)
{
    background-color: #000000;
}

tr:nth-child(odd)
{
    background-color: #ADEFD1FF;
}

figure
{
  text-align: center;
}