* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    font-family: Georgia, serif;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: medium;
    text-align: left;
    color: #C2D8B9;
    background-color: #738290;
    margin-left: 150px;
    margin-right: 150px;
}

a {
    text-decoration: none;
    color: #E4F0D0;
    font-weight: bold;
}

a:hover {
    color: #A1B5D8B9;
}

p {
    text-align: justify;
}

header {
    border-bottom: solid #222E50;
    border-spacing: 20px;
    border-bottom-style: ridge;
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

main {
    margin-left: 150px;
    margin-right: 150px;
}

footer {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 50px;
    padding-bottom: 15px;
}

figure {
    text-align: center;
}

form {
    text-align: center;
}

.interest {
    text-align: center;
}

.pictures {
    list-style-type: none;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.pictures::after {
    content: "";
    clear: both;
    display: table;
}

.bx-viewport {
    text-align: center;
    position: absolute;
    height: 560px !important;
    width: 460px !important;
}

.bx-wrapper {
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 540px !important;
    width: 435px !important;
}

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #666;
    background: rgba(80, 80, 80, .75);
    width: 90%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px -20px 10px 10px;
}

#id_pager {
    text-align: center;
    font-size: 90%;
    color: rgb(0, 7, 71);
}