<!-- Pawprint icon: https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-paw -->
<header>
    <h1>Deb's Dogs</h1>
    <nav>
        <a href="./">Home</a> <i style="font-size:24px" class="fa">&#xf1b0;</i>
        <a href="charlie.html"> Meet Charlie</a> <i style="font-size:24px" class="fa">&#xf1b0;</i>
        <a href="teddy.html"> Meet Teddy</a> <i style="font-size:24px" class="fa">&#xf1b0;</i>
        <a href="echo.html">Meet Echo</a> <i style="font-size:24px" class="fa">&#xf1b0;</i>
        <a href="needs.html">Basic Needs</a> <i style="font-size:24px" class="fa">&#xf1b0;</i>
        <a href="form.html">Interest Form</a>
    </nav>
    <br>
</header>