body
{
  font-family: Tahoma, sans-serif;
  color: grey;
  background-color: lightblue;
}

a{ color: lightsteelblue; }
a:hover { color: darkblue; }

header
{
  font-family: Courier, serif;
  text-align: center;
  color: darkslateblue;
}

footer
{
  font-family: Courier, serif;
  text-align: center;
  color: darkslateblue;
}