body
{
  font-family: Tahoma, sans-serif;
  color: grey;
  background-color: lightblue;
}

a
{ 
  color: lightsteelblue; 
  font-size: 15px;
}
a:hover { color: darkblue; }

header
{
  font-family: Courier, serif;
  text-align: center;
  color: darkslateblue;
  padding: 20px;
}

footer
{
  font-family: Courier, serif;
  text-align: center;
  color: darkslateblue;
  padding: 20px;
}