h1, h2, h3
{
  text-align: center;
}
body
{
  font-family: Tahoma, sans-serif;
  text-align: center;
  color: rgb(175, 6, 6);;
  background-color: rgb(238, 204, 159);
}
a
{ 
  color: brown;
  font-size: 15px;
 }
a:hover { color: darkblue; }
p {
  text-align: justify;
}
header
{
  border: maroon;
  border-style: double;
  font-family: Tahoma, sans-serif;
  text-align: center;
  color: #ADEFD1FF;
  padding: 20px;
}
footer
{
  font-family: Tahoma, sans-serif;
  text-align: center;
  color: maroon;
  padding: 10px;
}